html, body {
  font-family: $mainFont;
  color: $color-night-rider;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
  margin: 0;
}

h1 {
  font-size: $h1;  
}

h2 {
  font-size: $h2;
}
  
h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

a {
  &:link {

  }
  &:visited {

  }
  &:hover, &:active {

  }
}

p {
  margin: 0;
  line-height: 1.4;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.middle {
  display: inline-block;
  vertical-align: middle;
}