html, body {
  color: $color-dim-grey;
  // background: $color-white-smoke;
  // background: linear-gradient(135deg, #fff 25%, transparent 25%) -50px 0, linear-gradient(225deg, #fff 25%, transparent 25%) -50px 0, linear-gradient(315deg, #fff 25%, transparent 25%), linear-gradient(45deg, #fff 25%, transparent 25%);
  // background-size: 100px 100px;
  // background-color: rgba($color-amulet, .2);
  background: url('/images/swirl_pattern.png');
  font-family: $mainFont;
  font-size: $p;
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;

  * {
    box-sizing: border-box;
  }
}

html {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-night-rider;
  font-family: $titleFont;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.03em;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
  text-transform: uppercase;
}

h5 {
  color: $color-night-rider;
  text-transform: uppercase;
  font-family: $titleFont;
  font-size: 11px;
}

a {
  color: $color-suva-grey;
  text-decoration: none;

  &:link {

  }
  &:visited {

  }
  &:hover, &:active {

  }
}

p {
  margin: 0;
  line-height: 1.4;
}

textarea {
  border: 0;
}

.main-container {
  min-height: calc(100vh - 108px);
  padding-bottom: 300px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  @include breakpoint(small) {
    float: right;
  }
}

.left {
  @include breakpoint(small) {
    float: left;
  }
}

.clear {
  clear: both;
}

.clearfix {
  @extend %clearfix;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.is-hidden {
  display: none;
}

.is-hidden--small {
  display: none;

  @include breakpoint(small) {
    display: initial;
  }
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

.paperStyle {
  @extend %paperStyle;
}

.paperStyle-container {
  @extend %paperStyle;
  padding: 20px;

  @include breakpoint('large') {
    padding: 50px 55px;
  }
}
