html, body {
  color: $color-dim-grey;
  background: $color-white-smoke;
  font-family: $mainFont;
  font-size: $p;

  * {
    box-sizing: border-box;
  }
}

html {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-night-rider;
  font-family: $titleFont;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.03em;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
  text-transform: uppercase;
}

h5 {
  color: $color-night-rider;
  text-transform: uppercase;
  font-family: $titleFont;
  font-size: 11px;
}

a {
  color: $color-suva-grey;
  text-decoration: none;

  &:link {

  }
  &:visited {

  }
  &:hover, &:active {

  }
}

p {
  margin: 0;
  line-height: 1.4;
}

textarea {
  border: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  @include breakpoint(small) {
    float: right;
  }
}

.left {
  @include breakpoint(small) {
    float: left;
  }
}

.clear {
  clear: both;
}

.clearfix {
  @extend %clearfix;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.is-hidden {
  display: none !important;
}

.is-hidden--small {
  display: none;

  @include breakpoint(small) {
    display: initial;
  }
}

.middle {
  display: inline-block;
  vertical-align: middle;
}

.paperStyle {
  @extend %paperStyle;
}

.paperStyle-container {
  @extend %paperStyle;

  @include breakpoint('small') {
    padding: 50px 90px;
  }
}
