html, body {
  color: $color-dim-grey;
  background: $color-white-smoke;
  font-family: $mainFont;
  font-size: $p;

  * {
    box-sizing: border-box;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-fiord;
  font-family: $titleFont;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

a {
  color: $color-turqoise;
  text-decoration: none;

  &:link {

  }
  &:visited {

  }
  &:hover, &:active {

  }
}

p {
  margin: 0;
  line-height: 1.4;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.clearfix {
  @extend %clearfix;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.middle {
  display: inline-block;
  vertical-align: middle;
}