.product-details {
  @extend %paperStyle;

  @include breakpoint('small') {
    padding: 50px 90px;
  }

  .image-container {
    position: relative;
    overflow: hidden;
    height: 0;
    width: 100%;
    padding-top: 77%;
    text-align: center;

    img {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      height: 100%;
      width: auto;
    }
  }

  .details-container {
    padding-left: 40px;
  }

  .product-name {
    font-family: $mainFont;
    font-size: 40px;
  }

  .product-date {
    font-size: 11px;
    color: $color-suva-grey;
    margin-top: 7px;

    a {
      color: $color-night-rider;
      font-weight: bold;
    }
  }
}
