///// COLORS
// blues
$color-turqoise: #2DCEDB;

// greys
$color-night-rider: #303030;
$color-light-grey: #d5d5d5;

// reds
$color-sangria: #8A0A08;

//FONTS
$mainFont: Helvetica, Arial, sans-serif;

//SIZES
$layoutWidth: 100%;
$p: 14px;
$h1: 40px;
$h2: 30px;
$h3: 20px;
$h4: 16px;