extends ../layout

block content
  .main-container.paperStyle-container
    h1.main-title Profile
    h2.section-title.mb10 Welcome
    a(href="/my-items").btn Check out my items
    p Name: #{user.firstName}
    p Email: #{user.email}
    p Email: #{user.city}
    a(href="/signout" title="sign out").btn.btn-secondary.mt10 Sign out
