extends ../layout

block content
  .main-container
    .row.text-center
      .col.col-xs4.col-sm10.col-md6.col--smPush1.col--mdPush3.paperStyle-container
        h1.main-title Sign In

        //- LOGIN FORM
        form(method='post', action='/signin').regular-form
          input#username(type='text', name='username', placeholder='Username', required='true').mb20
          input#password(type='text', name='password', placeholder='Password', required='true').mb20
          p.pb20
            input#signin(type='submit', name='signin', value='sign in').btn
          
          a(href='/signup').mr10 Not a member yet?
          a(href='/signup').ml10 Forgot password?
