a.link.link-filter.js-filter-trigger.ml10.mr10(href='') Filter
  .filter.js-filter.p30
    .row
      .col.col-xs4.col-sm12.col-md6
        label
          input(type="checkbox")
          | Option1
        label
          input(type="checkbox")
          | Option2
        label
          input(type="checkbox")
          | Option2
        label
          input(type="checkbox")
          | Option1
        label
          input(type="checkbox")
          | Option2
        label
          input(type="checkbox")
          | Option2
      .col.col-xs4.col-sm12.col-md6
        label
          input(type="checkbox")
          | Option1
        label
          input(type="checkbox")
          | Option2
        label
          input(type="checkbox")
          | Option2
        label
          input(type="checkbox")
          | Option1
        label
          input(type="checkbox")
          | Option2
        