.fotorama(data-width="100%" data-ratio="13/11" data-fit="contain" data-allowfullscreen="true")
  if product.Image1
    img(src="/images/#{product.Image1}", alt="")
  if product.Image2
    img(src="/images/#{product.Image2}", alt="")
  if product.Image3
    img(src="/images/#{product.Image3}", alt="")
  if product.Image4
    img(src="/images/#{product.Image4}", alt="")