.gallery
  if product.Image1
    img(src="/images/#{product.image1}", alt="")
  if product.Image2
    img(src="/images/#{product.image2}", alt="")
  if product.Image3
    img(src="/images/#{product.image3}", alt="")
  if product.Image4
    img(src="/images/#{product.image4}", alt="")
