-var currentUrl = url

nav.nav
  .left.is-hidden--small
    a.logo(href="/")
      img(src="/images/logo.png")
      span SwapIt
  .right
    a.link(href='/account/requests', class={'is-active': currentUrl === '/requests'}) Requests
    
    a.link(href='/', class={'is-active': currentUrl === '/'}) Offer
    a.link(href='/seek', class={'is-active': currentUrl === '/seek'}) Seek
    div.link.link--withSubNav  
      a.link(href='/account/profile', class={'is-active': currentUrl === '/account/profile'}) Profile
      nav.subNav.paperStyle
        a.link(href='/account/add-item', class={'is-active': currentUrl === '/add-item'}) Add new item
        a.link(href='/account/my-items', class={'is-active': currentUrl === '/my-items'}) My items list
        a.link(href="/account/signout", title="sign out") Sign out
