<nav class="nav">
  <div class="left is-hidden--small">
    <a href="/" class="logo">
      <img src="/images/logo.png"/>
      <span>SwapIt</span>
    </a>
  </div>
  <div class="right">
    <a href="/requests" class="link">Requests</a>
    <a href="/" class="link">Offer</a>
    <a href="/seek" class="link">Seek</a>
    <div class="link link--withSubNav">
      <a href="/account/profile" class="link">Profile</a>
      <nav class="subNav paperStyle">
        <a href="/item/create" class="link">Add new item</a>
        <a href="/user/items" class="link">My items list</a>
        <a href="/account/signout" title="sign out" class="link">Sign out</a>
      </nav>
    </div>
  </div>
</nav>
