<nav id="navigation" class="row navigation">
  <div class="col-xs2 col-md2 flex valign-center flex-all">
    <h1 class="navigation-logo">
      <a href="/" class="logo">
        <img src="/images/logo.png"/>
        <span>SwapIt</span>
      </a>
    </h1>
  </div>
  <div class="col-xs2 col-md10 flex valign-center flex-end flex-all">
    <div class="menu-trigger js-menu-trigger">
      <div class="menu-trigger-icon">
        <span class="menu-trigger-icon--top"></span>
        <span class="menu-trigger-icon--middle"></span>
        <span class="menu-trigger-icon--bottom"></span>
      </div>
    </div>
    <div class="menu-wrapper js-menu-wrapper">
      <ul class="menu">
        <li class="is-active"><a href="/requests" class="link">Messages <span id="requestCounter"></span></a></li>
        <li><a href="/" class="link">Offers</a></li>
        <li><a href="/user/profile" class="link">Profile</a></li>
        <!-- <nav class="subNav paperStyle">
          <a href="/item/create" class="link">Add new item</a>
          <a href="/user/items" class="link">My items list</a>
          <a href="/account/signout" title="sign out" class="link">Sign out</a>
        </nav> -->
        <li><a href="/item/create" class="link">Add new item</a></li>
      </ul>
    </div>
  </div>
</nav>
