<nav id="navigation" class="row navigation">
  <div class="col-xs2 col-md2 flex valign-center flex-all">
    <h1 class="navigation-logo">
      <a href="/" class="logo">
        <img src="/images/logo.png"/>
        <span>SwapIt</span>
      </a>
    </h1>
  </div>
  <div class="col-xs2 col-md10 flex valign-center flex-end flex-all">
    <div class="menu-trigger js-menu-trigger">
      <div class="menu-trigger-icon">
        <span class="menu-trigger-icon--top"></span>
        <span class="menu-trigger-icon--middle"></span>
        <span class="menu-trigger-icon--bottom"></span>
      </div>
    </div>
    <div class="menu-wrapper js-menu-wrapper">

      <ul class="menu inline-block">
        {{#if currentUserId}}
          <li class="menu-item"><a href="/requests" class="link icon-mail menu-messages">Messages<span id="requestCounter" {{#unless count}}class="menu-messages-counter is-hidden"{{/unless}}>{{#if count}}{{setCount}}{{/if}}</span></a></li>
          <li class="menu-item">
            <a href="/user/profile" class="link icon-user">My account</a>
            <nav class="menu-submenu">
              <a href="/item/create" class="icon-plus">Add new ad</a>
              <a href="/user/items" class="icon-th">My items</a>
              <a href="/account/signout" title="Sign out" class="icon-logout">Sign out</a>
            </nav>
          </li>
        {{else}}
          <li class="menu-item"><a href="/user/profile" class="link">Account</a></li>
        {{/if}}
      </ul>
      <a href="/item/create" class="btn btn--menu mr20">Place free ad!</a>
    </div>
  </div>
</nav>
