<div class="row text-center pagination">
  <a href="{{prevPageUrl}}" class="btn btn--ok btn--tiny mr10"><span class="icon-left-open-big"></span>Prev</a>
  {{pagination}}
  <a href="{{nextPageUrl}}" class="btn btn--tiny ml10">Next<span class="icon-right-open-big"></span></a>
</div>

