<form action="/search" method="get" class="text-center">
  <div class="search">
    <input type="text" name="search" class="search-box" id="itemSearch">
    <button type="submit" class="search-btn icon-search">Search</button>
  </div>
</form>
