<form action="" class="right search">
  <input type="text" class="search-box tt-input" id="itemSearch">
  <div class="searchBox-suggestions" id="itemSearchResults"></div>
  <button type="submit" class="search-btn icon-search"></button>
</form>
