<div class="left">
  <a href="" data-href="/user/items" class="btn btn--fixedWidth js-swap-btn">Swap</a>
</div>
<div class="right pt10 is-hidden">
  <a href="" class="icon-share pl20"></a>
  <a href="" class="icon-heart pl20"></a>
</div>
