<div class="content-body content-body--form js-swapFormContainer">
  <div class="row paperStyle-container itemSwapContainer">
    <div class="col-xs4 col-sm12 col-md12">
    <div class="js-container-close itemSwapContainer-close icon-cancel"></div>
      <div class="js-confirmation is-hidden">
        <h3>Your request has been sent!</h3>
        <p class="pt20">Owner of <strong>"{{item.name}}"</strong> will be notified about your proposition.</p>
      </div>

      <form action="/requests/item/{{item.id}}/create" data-ajax-submit="true" id="swapForm" class="js-swapForm js-form form itemSwapContainer-form">
        <input type="hidden" name="seller_id" value="{{item.user_id}}">
        <div class="row row-with-blocks-v2 js-swapItems"></div>
      </form>
    </div>
  </div>
</div>
