<div class="content-body content-body--form js-swapFormContainer">
  <div class="row paperStyle-container itemSwapContainer">
    <div class="col-xs4 col-sm12 col-md12">
    <div class="js-container-close itemSwapContainer-close icon-cancel"></div>
      <div class="js-confirmation is-hidden">
        <h3>Your request has been sent!</h3>
        <p class="pt20">Owner of <strong>"{{item.name}}"</strong> will be notified about your proposition.</p>
      </div>

      <form action="/request/item/{{item.id}}/create" class="js-swapForm form itemSwapContainer-form" method="POST">
        <h3>Choose item(s) to swap for
          <strong>"{{item.name}}"</strong>
        </h3>
        <div class="row row-with-blocks-v2 js-swapItems"></div>
      </form>
    </div>
  </div>
</div>
