<div class="content-body paperStyle-container">
  <h1 class="main-title">Profile</h1>
  <h2 class="section-title mb10">Welcome</h2>
  <a href="/user/items" class="btn btn--fixedWidth">Check out my items</a>
  <p>Name:{{user.firstName}}</p>
  <p>Email: {{user.email}}</p>
  <p>City: {{user.city}}</p>
  <p>You have: {{newRequests}} new request(s)</p>
  <a href="/account/signout" title="sign out" class="btn btn--secondary mt10">Sign out</a>
</div>
