<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/master.css">
    <!--[if IE]>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header></header>
    <nav class="navigation"></nav>
    <div class="main-container">
      <div class="row row-with-blocks">
        <div class="col-product-block">
          <div class="product">
            <img src="../img/horse.jpg" alt="">
            <h5 class="subtitle">Bridgit</h5>
            <h4 class="title">Nice horse</h4>
            <p>Some short description here</p>
          </div>
        </div>
        <div class="col-product-block">
          <div class="product">
            <img src="../img/kinders.jpg" alt="">
            <h5 class="subtitle">Emma</h5>
            <h4 class="title">Lots of eggs</h4>
          </div>
        </div>
        <div class="col-product-block">
          <div class="product">
            <img src="../img/basket.jpg" alt="">
            <h5 class="subtitle">Andre</h5>
            <h4 class="title">Basket with toys</h4>
          </div>
        </div>
        <div class="col-product-block">
          <div class="product">
            <img src="../img/sheep.jpg" alt="">
            <h5 class="subtitle">Richard</h5>
            <h4 class="title">Cute sheepy</h4>
          </div>
        </div>
        <div class="col-product-block">
          <div class="product">
            <img src="../img/anime.jpg" alt="">
            <h4 class="title">Cool anime figures</h4>
          </div>
        </div>
        <div class="col-product-block">
          <div class="product">
            <img src="../img/bicycle.jpg" alt="">
            <h4 class="title">Ride on!</h4>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </body>
</html>
