doctype html
html
  head
    title= Swap
    link(rel="stylesheet", href="/stylesheets/master.css")
    link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css")
    script(data-main="/javascripts/base", src="/javascripts/lib/require.js", async)
    include ./includes/navigation.jade
    block content
    footer.footer
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js")