doctype html
html
  head
    title= Swap
    link(rel="stylesheet", href="/stylesheets/master.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block scripts
      script(data-main="/javascripts/base", src="/javascripts/lib/require.js", async)
    include ./includes/navigation.pug
    block content
    footer.footer
