doctype html
html
  head
    title= Swap
    link(rel="stylesheet", href="/stylesheets/master.css")
    script(data-main="/javascripts/base", src="/javascripts/lib/require.js", async)
    include ./includes/navigation.jade
    block content
    footer.footer
