.row.navigation {
  background: rgba($color-night-rider, .92);
  z-index: index($z-stack, navigation);
  top: 0;
  position: fixed;
  height: 54px;
  width: 100%;

  [class*="col-"] {
    height: 100%;
  }

  &.is-sticky {
    border-bottom: 1px solid $color-night-rider;
  }

  @include breakpoint(small) {
    height: $navigationHeight;
  }

  @include breakpoint(medium) {
    height: $navigationHeight;
  }
}
