<!DOCTYPE html>
<html>
  <head>
    <title>Swap</title>
    <link rel="stylesheet" href="/stylesheets/master.css">
    {{{_sections.styles}}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script data-main="/javascripts/base" src="/javascripts/lib/require.js" async></script>
    {{{_sections.scripts}}}
  </head>
  <body>
    {{> navigation}}
    {{{body}}}
    <footer class="footer"></footer>
  </body>
</html>
