<!DOCTYPE html>
<html>
  <head>
    <title>Swap</title>
    <link rel="stylesheet" href="/stylesheets/master.css">
    <meta name="robots" content="noindex,nofollow">
    {{{_sections.styles}}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="main" class="main-container">
      <a href="">Button</a>
      {{> navigation}}
      {{{body}}}
      <footer class="footer"></footer>
    </div>    
    <script src="/socket.io/socket.io.js"></script>    
    {{#if _sections.scripts}}
      {{{_sections.scripts}}}
    {{else}}
      <script src="/javascripts/base.js"></script>
    {{/if}}

  </body>
</html>
