.menu-item:hover {
  .menu-submenu {
    max-height: 500px;
    transition: max-height .4s ease;
  }
}

.menu-submenu {
  a {
    color: $color-navigation-font;
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    border: 0;
    line-height: $navigationHeight;
    border-top: 1px solid $color-light-grey;
    font-size: 16px;
    cursor: pointer;
    display: block;
    position: relative;

    &:before {
      font-size: 12px;
      margin-right: 7px;
      margin-left: 0;
    }
  }

  &.is-active a {
    color: $color-outrageous-orange;
    font-weight: bold;

    &:hover {
      color: $color-outrageous-orange;
      cursor: default;;
    }
  }

  @include breakpoint(medium) {
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: -10px;
    padding: 0 10px;
    background: rgba($color-navigation-background, .92);
    color: $color-white;
    width: 150px;
    text-align: left;
    transition: max-height .4s ease;

    a {
      font-size: 13px;
      cursor: pointer;
      display: block;
      padding: 0 10px 5px;
      color: $color-navigation-font;
      font-weight: 400;
      font-size: 14px;
      text-decoration: none;
      transition: color .2s ease;
      border-top: 0;
      line-height: 2;

      &:hover {
        color: $color-main;
      }

      &:last-of-type {
        border-top: 1px solid $color-suva-grey;
        padding: 7px 10px 10px;
      }
    }
  }
}
