.form--swapForm {
  .form-title {
    color: $color-suva-grey;
    font-size: $h3;
    font-family: $titleFont;

    strong {
      color: $color-night-rider;
    }
  }

  .swapFields {
    position: absolute;
    right: 0;
    width: calc(50% - 40px);
  }

  textarea {
    height: 140px;
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
  }
}
