.form {
  label {
    color: $color-night-rider;
    font-size: $p;
    margin-bottom: 10px;
    cursor: auto;

    &.required {
      &:after {
        content: '*';
        color: $color-outrageous-orange;
        margin-left: 3px;
      }
    }
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    background: $color-white-smoke;
    border: 2px solid $color-white-smoke;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 15px;
    height: 38px;
    padding: 0 11px;
    color: #808080;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    width: 100%;

    &:first-of-type {
      margin-top: 0;
    }
  }

  input, textarea {
    &:focus {
      outline: none;
    }

    &.is-invalid {
      border: 2px solid $color-input-invalid;
    }

    &.is-valid {
      border: 2px solid $color-ok;
    }
  }

  textarea {
    background: $color-white-smoke;
    border: 0;
    border-radius: 2px;
    color: #808080;
    font-size: 14px;
    font-family: $mainFont;
    width: 100%;
    padding: 8px 12px 5px 12px;
    height: 140px;
    width: 100%;

    &:focus {
      outline: none;
    }

    &.small {
      height: 90px;
    }

    &.light {
      background: $color-white;
      border: 1px solid $color-white;
      color: $color-night-rider;
      transition: border ease .25s;

      &:focus {
        border: 1px solid $color-outrageous-orange;
        transition: border ease .25s;
      }
    }
  }
}
