.breadcrumbs {
  font-size: 11px;
  font-weight: bold;
  padding-bottom: 25px;
  text-transform: uppercase;

  a:after {
    content: ">";
    margin-top: 2px;
    font-size: 12px;
    padding: 0 8px;
  }

  span {
    color: $color-night-rider;
  }
}
