<div class="content-container">
  <div class="row text-center">
    <div class="col col-xs4 col-sm10 col-md6 col--smPush1 col--mdPush3 paperStyle-container">
      <h1 class="main-title">Sign Up</h1>
      <form method="post" action="/account/signup" class="form">
        <input id="username" type="text" name="username" placeholder="Email" required="true" class="mb20"/>
        <input id="password" type="text" name="password" placeholder="Password" required="true" class="mb20"/>
        <input id="firstName" type="text" name="firstName" placeholder="First name" class="mb20"/>
        <input id="city" type="text" name="city" placeholder="City" class="mb20"/>
        <select id="country" name="country" class="mb20">
          <option value="Netherlands">Netherlands</option>
          <option value="Ukraine">Ukraine</option>
        </select>
        <p class="pb20">
          <input id="signup" type="submit" name="signup" value="register" class="btn"/>
        </p>
      </form>
      <p>Already have an account?&#32;<a href="/account/signin">Login</a></p>
    </div>
  </div>
</div>
