<div class="content-body">
  <div class="row text-center">
    <div class="col col-xs4 col-sm10 col-md6 col--smPush1 col--mdPush3 paperStyle-container">
      <h1 class="main-title">Sign In</h1>
      <form method="post" action="/account/signin" class="form js-form">
        <input id="username" type="text" name="username" placeholder="Username" required="true" class="mb20"/>
        <input id="password" type="text" name="password" placeholder="Password" required="true" class="mb20"/>
        <p class="pb20">
          <input id="signin" type="submit" name="signin" value="sign in" class="btn btn--fixedWidth"/>
        </p><a href="/account/signup" class="mr10">Not a member yet?</a><a href="/account/signup" class="ml10">Forgot password?</a>
      </form>
    </div>
  </div>
</div>
