.product {
  border: 1px solid $color-light-grey;
  display: block;
  margin: 15px;
  padding: 9px;
  position: relative;
  height: 370px;

  img {
    height: 100%;
    width: auto;
  }

  p {
    line-height: 2;
  }
  
  .img-container {
    display: block;
    height: 210px;
    margin-bottom: 15px;
    overflow: hidden;
    width: 100%;
  }

  .title {
    color: $color-night-rider;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
  }
  
  .subtitle {
    color: $color-turqoise;
    font-size: 9px;
    line-height: 1;
    margin-bottom: 12px;
    text-transform: uppercase;
  }
}