.itemOverview {
  padding: 0 0 40px;

  @include breakpoint('small') {
    padding: 0 0 60px 0;
  }

  &:after {
    content: '';
    opacity: 0;
  }
}

.itemOverview-sliderColumn {
  @extend .col;
  @extend .col-md6;
  transition: width .4s ease;
}

.itemOverview-detailsColumn {
  @extend .col;
  @extend .col-md6;
  transition: width .4s ease;
}

.itemOverview-descriptionColumn {
  @extend .col;
  @extend .col-md8;
  transition: width .4s ease;
}

.itemOverview-moreItemsButton {
  @include breakpoint(medium) {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.itemOverview-details {
    padding: 25px 0 0 0;

  @include breakpoint(medium) {
    padding: 0 0 60px 40px;
  }
}
