.itemOverview-swapButton {
  .left {
    float: left;
  }

  .right {
    float: right;
    font-size: 20px;
  }

  @include breakpoint(medium) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100% / (12 / 5);
    padding: 0 0 60px 40px;
  }
}
