// Names set using http://www.color-blindness.com/color-name-hue/

///// COLORS
$color-white: #fff;
$color-white-smoke: #eeeeee;

// greys
$color-light-grey: #d5d5d5;
$color-suva-grey: #999;
$color-dim-grey: #666666;
$color-night-rider: #333333;

// reds
$color-sangria: #8A0A08;
$color-fire-brick: #B53C25;
$color-burnt-sienna: #E86047;
$color-jaffa: #E06E42;
$color-outrageous-orange: #FF5C2E;
$color-main: $color-outrageous-orange;
$color-alternate: $color-fire-brick;
$color-alternate-lighter: $color-burnt-sienna;
$color-input-invalid: red;
$color-alert: red;

// greens
$color-tusk: #D5E3AC;
$color-amulet: #79A877;
$color-ok: $color-amulet;

// yellows
$color-festival: #E8D846;
$color-cancel: $color-festival;

//FONTS
$titleFont: 'Roboto', Helvetica, Arial, sans-serif;
$mainFont: 'Lato', Helvetica, Arial, sans-serif;

//Applied per component
$color-navigation-font: $color-night-rider;
$color-navigation-background: $color-white;

//SIZES
$layoutWidth: 1240px;
$navigationHeight: 54px;
$p: 15px;
$h1: 40px;
$h2: 30px;
$h3: 24px;
$h4: 16px;

$font-sizes: (
  15: 15px,
  16: 16px,
  24: 24px,
  30: 30px,
  40: 40px
);

$z-stack: base,
  content,
  content-overlay,
  content-navigation,
  search,
  navigation,
  dialog-grey-overlay,
  dialog;
