.row.paperStyle-container.js-swapContainer.swapContainer.mt10.is-hidden
  .col.col-xs4.col-sm12.col-md12
    form.js-swapForm.form.form--swapForm(action="/product/#{product.id}/swap-request", method="POST")
      h3.form-title Choose item(s) to swap for&#32;
        strong "#{product.name}"
      .row.row-with-blocks-v2.js-swapItem
          
      .row
        .col.col-xs4.col-sm12.col-md12.text-right
          input(type="submit", value="Swap").btn
