<div class="content-container paperStyle-container">
  <div class="row">
    <div class="col-xs4 col-sm6 col-md12">
      <h1>{{message}}</h1>
      <h2>{{error.status}}</h2>
      <pre>{{error.stack}}</pre>
    </div>
  </div>
</div>
