.regular-form {
  label {
    color: $color-night-rider;
    font-size: $p;
    margin-bottom: 10px;
    cursor: auto;

    &.required {
      &:after {
        content: '*';
        color: $color-outrageous-orange;
        margin-left: 3px;
      }
    }
  }

  input[type="text"],
  input[type="password"] {
    background: $color-white-smoke;
    border: 0;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 38px;
    padding: 0 15px;
    color: #808080;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  textarea {
    background: $color-white-smoke;
    border: 0;
    border-radius: 2px;
    color: #808080;
    font-family: $mainFont;
    width: 100%;
    padding: 8px 12px 5px 12px;
    width: 100%;
  }
}
