<div class="content-body">
  <div class="row">
    <div class="col col-xs4 col-sm6 col-md8">
      <h2 class="section-title pb10">See what people offer</h2>
      {{#if tag}}
        <h4 class="pr20 section-subtitle inline is-active">{{tag}}</h4>
      {{else}}
        <h4 class="pr20 section-subtitle inline is-active">All</h4>
      {{/if}}
    </div>
    <div class="col col-xs4 col-sm6 col-md4">
      <form action="" class="right search">
        <input type="text" class="search-box">
        <button type="submit" class="search-btn icon-search"></button>
      </form>
    </div>
  </div>
  {{> itemList}}
</div>
