.swapRequestOverview-imageContainer {
  height: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 20px;
  padding-top: 25%;
  width: 25%;
}

.swapRequestOverview-imageContainer--master {
  padding-top: 11%;
  width: 11%;
  vertical-align: middle;
  margin-bottom: 0;
}
