.swapRequestOverview {
  position: relative;

  .statusLabel {
    position: absolute;
    right: 27px;
    top: 24px;
  }
}

.swapRequestOverview-image {
  @extend %scalableBackgroundImage;
}

.swapRequestOverview-imageContainer {
  height: 0;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 20px;
  padding-top: 25%;
  width: 25%;
}

.swapRequestOverview-imageContainer--master {
  padding-top: 11%;
  width: 11%;
  vertical-align: middle;
  margin-bottom: 0;
}

.swapRequestOverview-item {
  margin-bottom: 15px;
  background: $color-white-smoke;
  position: relative;
}

.swapRequestOverview-itemDetails {
  vertical-align: middle;
  display: inline-block;
  width: calc(75% - 23px);
  padding-right: 50px;
}

.swapRequestOverview-itemDescription-trigger {
  color: $color-outrageous-orange;
  cursor: pointer;
  background: darken($color-white-smoke, 3%);
  position: absolute;
  top: 0;
  padding-top: 25%;
  right: 0;
  width: 40px;
  font-size: 30px;

  &:hover {
    background: darken($color-white-smoke, 6%);
  }

  &:before {
    position: absolute;
    top: 50%;
    transform: rotate(0deg) translateY(-50%) translateX(0px);
    transition: transform .3s ease;
  }
}

.swapRequestOverview-title {
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  vertical-align: middle;

  a {
    color: $color-night-rider;
  }
}

.swapRequestOverview-itemDescription {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s linear;

  h4 {
    text-transform: none;
    padding-top: 25px;
    padding-bottom: 15px;
  }

  p {
    padding-bottom: 25px;
  }

  h4, p {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.swapRequestOverview-itemDescription-checkbox:checked {
  & ~ .swapRequestOverview-itemDescription-trigger {
    &:before {
      transform: rotate(90deg) translateX(-10px) translateY(3%);
    }
  }

  & ~ .swapRequestOverview-itemDescription {
    max-height: 1000px;
  }
}
