.swapRequestOverview {
  position: relative;

  .statusLabel {
    position: absolute;
    right: 55px;
    top: 55px;
  }
}

.swapRequestOverview-image {
  @extend %scalableBackgroundImage;
}

.swapRequestOverview-title {
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  vertical-align: middle;

  a {
    color: $color-night-rider;
  }
}
