.swapRequestOverview {
  position: relative;
  border: 2px solid transparent;
  border-radius: 2px;

  .declined & {
    border: 2px solid $color-cancel;
    border-radius: 15px;
    transition: border-color .25s ease,
                border-radius .25s ease;
  }

  .accepted & {
    border: 2px solid $color-ok;
    border-radius: 15px;
    transition: border-color .25s ease,
                border-radius .25s ease;
  }

  .statusLabel {
    position: absolute;
    right: 55px;
    top: 55px;
  }
}

.swapRequestOverview-image {
  @extend %scalableBackgroundImage;
}

.swapRequestOverview-title {
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  vertical-align: middle;

  a {
    color: $color-night-rider;
  }
}
