.itemOverview-map {
  padding-top: 30%;
  position: relative;
  margin-bottom: 40px;

  @include breakpoint(medium) {
    padding-top: 20%;
    margin-bottom: 0;
  }

  &.col {
    min-height: 200px;
  }
}

.itemOverview-map-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  @include breakpoint(medium) {
    left: 40px;
  }
}
