.condition-stars {
  span {
    color: $color-night-rider;

    &:before {
      margin: 1px;
    }
  }
}

@for $i from 1 through 5 {
  .condition-#{$i} {
    span {
      &:before {
        content: '\e80e';
      }

      &:nth-of-type(-n+#{$i}) {
        &:before {
          content: '\e80d';
        }
      }
    }
  }
}
