%review-style {
  font-size: 14px;
}

.tab-pane {
  .tab {
    @extend %review-style;
    background: rgba($color-white, 0);
    cursor: pointer;
    display: inline-block;
    border-bottom: 0;
    padding: 13px 30px;
    transition: background .25s ease;

    h4 {
      color: $color-dim-grey;
      transition: color .25s ease;
    }

    &.is-active {
      background: rgba($color-white, 1);
      box-shadow: -5px -5px 10px -5px $color-light-grey;
      transition: background .25s ease;

      h4 {
        color: $color-night-rider;
        transition: color .25s ease;
      }
    }
  }

  .pane {
    @extend %paperStyle;
    @extend %review-style;
    display: none;
    padding: 20px 15px;

    @include breakpoint(small) {
      padding: 33px 30px;
    }

    &.is-active {
      display: block;
    }
  }
}
