%review-style {
  font-size: 14px;
}

.tab-pane {
  .tab {
    @extend %review-style;
    color: $color-night-rider;
    cursor: pointer;
    opacity: .5;
    display: inline-block;
    border-bottom: 0;
    padding: 13px 30px;

    &.is-active {
      opacity: 1;
      background: #fff;
      box-shadow: -5px -5px 10px -5px $color-light-grey;
    }
  }

  .pane {
    @extend %paperStyle;
    @extend %review-style;
    display: none;
    padding: 20px 15px;

    @include breakpoint(small) {
      padding: 33px 30px;
    }

    &.is-active {
      display: block;
    }
  }
}
