.item--inSwapList {
  cursor: pointer;
  position: relative;
  transition: border .25s ease;
  padding: 0;
  box-shadow: none;
  background: transparent;

  .item-content {
    display: none;
  }

  .img-container {
    cursor: pointer;
    box-shadow: 0 0 10px 1px rgba($color-white, 0);
    transition: box-shadow .25s ease;

    .icon-picture {
      font-size: 45px;
      top: 50%;
    }

    &:hover {
      box-shadow: 0 0 10px 1px rgba($color-white, .4);
    }
  }

  .selectItem {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
