<div class="content-body">
  <div class="row">
    <div class="col-xs4 col-sm10 col-md6 col--smPush1 col--mdPush3 paperStyle-container">
      <h1 class="main-title">Renew password</h1>
      <form method="post" action="/account/forgot-password" class="form js-form">
        <input id="email" type="email" name="email" placeholder="Email" required="true" class="mb20"/>
        <p class="mt15 text-center">
          <input id="signin" type="submit" name="signin" value="Send" class="btn btn--fixedWidth"/>
        </p>
      </form>
    </div>
  </div>
</div>
