<div class="content-body">
  <div class="row">
    <div class="col-xs4 col-sm10 col-md6 col--smPush1 col--mdPush3 paperStyle-container">
      <h1 class="main-title">Renew password</h1>
      <form method="post" class="form js-form">
        <input id="password" type="password" name="password" placeholder="New password" required="true" class="mb20" autofocus=true/>
        <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm password" required="true" class="mb20"/>
        <p class="mt15 text-center">
          <input id="signin" type="submit" name="signin" value="Update password" class="btn btn--fixedWidth"/>
        </p>
      </form>
    </div>
  </div>
</div>
