<div class="content-body">
  <div class="row">
    <div class="col-xs4 col-sm10 col-md6 col--smPush1 col--mdPush3 paperStyle-container">
      <h1 class="main-title">Sign In</h1>
      {{#if errorMessage}}
      <div class="formError">
        {{errorMessage}}
      </div>
      {{/if}}
      <form method="post" action="/account/signin" class="form js-form">
        {{#if errorMessage}}
          <input id="email" value="{{email}}" type="email" name="email" placeholder="Email" required="true" class="mb20"/>
          <input id="password" type="password" name="password" placeholder="Password" required="true" class="mb20"/>
        {{else}}
          <input id="email" type="email" name="email" placeholder="Email" required="true" class="mb20"/>
          <input id="password" type="password" name="password" placeholder="Password" required="true" class="mb20"/>
        {{/if}}
        <a href="/account/forgot-password">Forgot password?</a>
        <p class="mt15 text-center">
          <input id="signin" type="submit" name="signin" value="sign in" class="btn btn--fixedWidth"/>
        </p>
      </form>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs4">
      <a href="/account/signup" class="callToAction">Not a member yet? <span>Register now</span></a>
    </div>
  </div>
</div>
