{{#section 'scripts'}}
  <script src="/javascripts/swapRequestsList.js" async></script>
{{/section}}

<div class="content-body">
  <div class="tab-pane js-tab-pane" id="requestsTabPane">
    <div class="tab js-tab is-active">
      <h4 class="font-size14">Incoming ({{requests.incoming.length}})</h4>
    </div>
    <div class="tab js-tab">
      <h4 class="font-size14">Sent ({{requests.sent.length}})</h4>
    </div>

    <div id="incomingRequests" class="pane js-pane is-active">
      {{#if requests.incoming}}
        {{#requests.incoming}}
          {{> requestListItem}}
        {{/requests.incoming}}
      {{else}}
        <p>You don't have any swap requests yet.</p>
      {{/if}}
    </div>
    <div class="pane js-pane">
      {{#if requests.sent}}
        {{#requests.sent}}
          {{> requestListItem}}
        {{/requests.sent}}
      {{else}}
        <p>You haven't sent any swap requests yet.</p>
      {{/if}}
    </div>
  </div>
</div>
