%btn-default {
  background: $color-outrageous-orange;
  border: 2px solid $color-outrageous-orange;
  color: $color-white;
  font-size: 12px;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
  font-family: $mainFont;
  font-weight: bold;
  height: 37px;
  line-height: 34px;
  letter-spacing: 0.08em;
  min-width: 200px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

%btn-dark {
  background: $color-night-rider;
  color: $color-white;
  border-color: $color-night-rider;
}

%btn-transparent {
  background: transparent;
  color: $color-outrageous-orange;
}

%btn-secondary {
  background: transparent;
  color: $color-night-rider;
}

%btn-long {
  width: calc(100% - 112px);
}

%btn-square {
  padding: 0;
  width: 46px;
}


@mixin btn($skin, $includeDefault: true) {
  @if($includeDefault == true) {
    @extend %btn-default;
  }

  @extend %#{$skin};
}
