// Names set using http://www.color-blindness.com/color-name-hue/

///// COLORS
$color-white: #fff;
$color-white-smoke: #eeeeee;

// blues
$color-turqoise: #2DCEDB;
$color-gunmetal: #2f383d;
$color-fiord: #49555c;

// greys
$color-light-grey: #d5d5d5;
$color-dim-grey: #666666;
$color-night-rider: #303030;

// reds
$color-sangria: #8A0A08;
$color-fire-brick: #B53C25;
$color-jaffa: #E06E42;

//FONTS
$titleFont: Montserrat, Helvetica, Arial, sans-serif;
$mainFont: Roboto, Helvetica, Arial, sans-serif;

//SIZES
$layoutWidth: 100%;
$navigationHeight: 60px;
$p: 14px;
$h1: 40px;
$h2: 30px;
$h3: 24px;
$h4: 16px;

$font-sizes: (
  14: 14px,
  16: 16px,
  24: 24px,
  30: 30px,
  40: 40px
);