.content-body {
  white-space: initial;
  position: relative;
  max-width: $layoutWidth;
  margin: $navigationHeight+20px auto $navigationHeight;
  width: calc(100% - 20px);

  @include breakpoint('small') {
    margin: $navigationHeight+36 auto $navigationHeight;
  }
}

.content-body--itemOverview {
  display: inline-block;
  width: 100%;
}

.content-body--swapRequestOverview,
.content-body--swapRequestChat {
  display: inline-block;
  width: 50%;
}

.content-body--form {
  vertical-align: top;
  display: inline-block;
  width: calc(60% - 10px);
  margin-left: 7px;
  max-width: 744px;
  opacity: 0;
}
