%btn-search {
  border-radius: 0 0 0 3px;
  background: $color-turqoise;
  border: 0;
  color: $color-white;
  height: 40px;
  line-height: 40px;    
  margin-left: -10px;
  padding: 0 12px;
  border-bottom: 3px solid darken($color-turqoise, 9%);
}

.search {
  line-height: 60px;
  display: inline-block;
}

.search-box {
  height: 40px;
  line-height: 40px; 
  padding: 0 15px 0 10px;   
  width: 250px;

  &:focus {
    outline: none;
  }
}

.search-btn {
  @include btn('btn-search');
}