.section-title {
  border-bottom: 1px solid $color-light-grey;
  color: $color-fiord;
  font-size: 24px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;

  &:after {
    content: "";
    background-color: #00b0ff;
    bottom: -1px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 30px;
  }
}