.swapRequest-state {
  position: absolute;
  right: 0;
  width: auto;

  .date {
    display: none;
  }

  @include breakpoint(small) {
    position: relative;

    .date {
      display: block;
      padding-top: 10px;
    }
  }
}
