.content-container {
  white-space: initial;
  position: relative;
  max-width: $layoutWidth;
  margin: $navigationHeight+20px auto $navigationHeight;
  width: calc(100% - 20px);
  transition: width .4s ease, max-width .4s ease;

  @include breakpoint('small') {
    margin: $navigationHeight*2 auto $navigationHeight;
  }
}

.content-container--itemOverview {
  display: inline-block;
  width: 100%;
}

.content-container--swapRequestOverview,
.content-container--swapRequestChat {
  display: inline-block;
  width: 50%;
}

.content-container--swapRequestOverview {
  
}

.content-container--form {
  display: inline-block;
  width: calc(60% - 10px);
  margin-left: 7px;
  max-width: 744px;
  transform: translate(100vw, 0);
  transition: transform .4s ease;
}
