*, *:after, *:before {
  box-sizing: border-box;
}

.col {
  float: left;
  width: 100%;
  min-height: 1px;
}

.col-item-block {
  float: none;
  display: inline-block;
  font-size: $p;
  vertical-align: top;
  width: 50%;

  @include breakpoint(small) {
    width: 33.333%;
  }

  @include breakpoint(medium) {
    width: 25%;
  }

  @include breakpoint(large) {
    width: 25%;
  }

  @include breakpoint(xlarge) {
    width: 20%;
  }

  &.x2 {
    width: 50%;
  }
}

.row {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
}

.row-with-blocks {
  font-size: 0;
}

.row:after {
  @extend %clearfix;
}

/* Content Columns */
$columns: 12;

@mixin createFractionColumns ($prefix, $columns) { // Mixin for creating grid columns.
                                                   // Add name of prefix + selector type '.', '&.' etc. (in brackets!)
          // And number of columns to make it work
  @for $column from 1 through $columns {
    #{$prefix}#{$column} {
      width: 100% / ($columns / $column);
    }
  }

}

@include createFractionColumns ('.col-xs', 4);

@include breakpoint(small) {
  @include createFractionColumns ('.col-sm', $columns);
}

@include breakpoint(medium) {
  @include createFractionColumns ('.col-md', $columns);
}

@include breakpoint(large) {
  @include createFractionColumns ('.col-lg', $columns);
}

@include breakpoint(small) {
  @for $i from 1 through $columns {
    .col--smPush#{$i} {
      margin-left: (100% / $columns) * $i;
    }
  }
}

@include breakpoint(medium) {
  @for $i from 1 through $columns {
    .col--mdPush#{$i} {
      margin-left: (100% / $columns) * $i;
    }
  }
}
