.nav {
  @extend %clearfix;
  background: $color-white;
  position: fixed;
  top: 0;
  height: $navigationHeight;
  box-shadow: 0px 1px 10px 0px $color-light-grey;
  width: 100%;
  z-index: 1000;

  a.logo {
    display: block;
    height: $navigationHeight;
    line-height: $navigationHeight + 1;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
    color: $color-night-rider;

    span {
      margin-top: 5px;
      vertical-align: top;
    }

    img {
      height: 44px;
      margin-top: 4px;
      vertical-align: top;
    }
  }

  .link,
  a.link {
    color: $color-night-rider;
    font-family: $mainFont;
    font-size: 12px;
    height: $navigationHeight;
    letter-spacing: 0.12em;
    line-height: $navigationHeight + 1;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 25%;

    @include breakpoint(small) {
      padding: 0 35px;
      width: auto;
    }

    &.link--withSubNav {
      padding: 0;

      .link {
        background: $color-white;
        z-index: 2;
        width: 100%;

        @include breakpoint(small) {
          width: auto;
        }
      }

      &:hover {
        box-shadow: -3px 0px 10px -6px $color-light-grey;

        .subNav {
          display: block;
        }
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0;
      bottom: 18px;
      right: 35px;
      left: 34px;
      border-bottom: 1px solid $color-night-rider;
      transition: ease .2s opacity;
    }

    &:hover, &:active {
      &:after {
        opacity: 1;
      }
    }

    &.is-active {
      &:after {
        opacity: 1;
      }
    }
  }
}

.subNav,
.nav .subNav {
  display: none;
  background: $color-white;
  position: absolute;
  padding: 20px 35px;
  top: 100%;
  margin-top: -2px;
  right: 0;
  text-align: right;
  box-shadow: -4px -3px 10px -6px $color-light-grey;
  border-radius: 2px;
  z-index: 1;

  .link {
    white-space: nowrap;
    text-transform: none;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0;

    &:after {
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
