%btn-default {
  cursor: pointer;
  background: $color-outrageous-orange;
  border: 2px solid $color-outrageous-orange;
  color: $color-white;
  font-size: 12px;
  border-radius: 20px;
  box-sizing: border-box;
  display: inline-block;
  font-family: $mainFont;
  font-weight: bold;
  height: 37px;
  line-height: 34px;
  letter-spacing: 0.08em;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  transition: background .25s ease;

  &:disabled {
    color: rgba($color-suva-grey, .9);
    background: rgba($color-suva-grey, .4);
    border-color: rgba($color-suva-grey, .4);
  }

  &:hover {
    background: darken($color-outrageous-orange, 10%);
    transition: background .25s ease;
  }
}

%btn--dark {
  background: $color-night-rider;
  color: $color-white;
  border-color: $color-night-rider;

  &:hover {
    background: darken($color-night-rider, 15%);
    border-color: lighten($color-night-rider, 10%);
    transition: border-color .25s ease, background .25s ease;
  }
}

%btn--transparent {
  background: transparent;
  color: $color-outrageous-orange;
  transition: border-color .25s ease;

  &:hover {
    background: transparent;
    border-color: $color-night-rider;
    transition: border-color .25s ease;
  }
}

%btn--secondary {
  background: transparent;
  color: $color-night-rider;

  &:hover {
    background: transparent;
    border-color: $color-night-rider;
    transition: border-color .25s ease;
  }
}

%btn-long {
  width: calc(100% - 112px);
}

%btn-square {
  padding: 0;
  width: 46px;
}

%btn--link {
  background: transparent;
  color: $color-night-rider;
  border-color: transparent;
  width: auto;
  min-width: 0;

  span {
    border-bottom: 1px solid $color-night-rider;
  }
}

%btn--ok {
  background: $color-ok;
  border-color: $color-ok;
  color: $color-white;

  &:hover {
    background: darken($color-ok, 10%);
  }
}


@mixin btn($skin, $includeDefault: true, $setMinWidth: true) {
  @if($includeDefault == true) {
    @extend %btn-default;
  }

  @if($setMinWidth == true) {
    min-width: 150px;

    @include breakpoint(small) {
      min-width: 200px;
    }
  }

  @extend %#{$skin};
}
